# compiled output 
/dist
/node_modules

#Logs
logs
*.log 
npm-debug.log*

#OS
.DS_Store 

# IDE-VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# app  忽略配置文件信息   不做源代码管理  
.env*